.hero{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(#000, .5);
    z-index: 30;
  }

  .img-hero{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    top: 0;
  }

  .content-hero{
    position: absolute;
    bottom: 1vw;
    width: 60%;
    left: 20%;
    text-align: center;
    color: $color-light-gold;
    z-index: 40;

    p{
      color: $color-dark-beige;
      text-transform: uppercase;
      margin-bottom: 3vw;
      font-size: .85vw;
    }

    .scroll-bottom{

      &:before{
        content: '';
        display: block;
        width: 1px;
        height: 4vw;
        background: $color-light-gold;
        margin: 3vw auto;
      }
      p{
        color: $color-light-gold;
      }
    }
  }

  &.about{
    .content-hero{
      bottom: auto;
      top: 50%;
      transform: translateY(-40%);

      .title-h1{
        color: #FFF;
      }
    }
  }
}


.section-presentation{
  position: relative;
  margin-top: 6vw;
  .deco{
    width: 40vw;
    height: 50vw;
    position: absolute;
    left: 55%;
    top: 0;
    transform: translateX(-50%);
    img{
      width: 100%;
    }
  }

  .row{
    z-index: 3;
    position: relative;
  }

  .section-presentation-image-1{
    width: 50%;
    margin-bottom: 2vw;
  }
  .section-presentation-image-2{
    width: 100%;

  }

  .info-container{
    padding: 18vw 5vw;

    .button{
      display: block;
      text-align: center;
      margin-top: 4vw;
    }
  }

  &.about{
    padding-bottom: 10vw;
    .section-presentation-image-2{
      width: 65%;
      margin-left: auto;
      display: block;
      padding-top: 7vw;
    }
    .section-presentation-image-1{
      width: 35%;
    }
    .info-container{
      padding-bottom: 0;
      padding-left: 10vw;
      padding-top: 7vw;
      padding-right: 0vw;
    }
  }
}

.section-citation{
  background: $color-dark-blue;
  color: $color-light-gold;
  padding: 12vw 16vw;
  overflow: hidden;

  &.with-image{
    position: relative;

    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000, .5);
    }
    .row{
      position: relative;
      z-index: 30;
    }
    .image-bg{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0%;
      top: 0%;
      object-fit: cover;
      transform: translate(-50%, -50%);
    }
  }
}


.section-scroll-x{
  overflow: hidden;
  display: flex;
}


// X Scroll

section {
  height: 100vh;
  width: 100vw;
  display: flex;

  .scroll-X{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  [data-scroll-reverse] {
    justify-content: flex-end;
  }
}


.presentation-section{
  width: 100%;
  overflow: hidden;
  .item-presentation{
    position: relative;
    .image-1{
      height: 35vh;
      left: 10%;
      top: 5%;
      position: absolute;
      img{
        height: 100%;
      }
    }
    .image-2{
      height: 76vh;
      left: 50%;
      top: 12vh;
      transform: translateX(-50%);
      position: absolute;
      img{
        height: 100%;
        width: auto;
      }
    }

    .image-3{
      height: 35vh;
      right: 10%;
      bottom: 5%;
      position: absolute;
      img{
        height: 100%;
      }
    }
  }

  .wording-presentation{
    width: 20%;
    right: 10%;
    top: 12%;
    position: absolute;
  }
  .item-presentation{
    height: 100%;
    width: 100vw;
  }

  .markee{
    color: $color-dark-beige;
    position: fixed;
    top: 50%;
    left: 50%;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    z-index: 30;
    overflow: hidden;
    transition: .0s;
    .text-inner{
      transform: translateY(100%);

      &.visible{
        transform: translateY(0%);
        transition: .200s;
      }
      &.remove{
        transform: translateY(-100%);
        transition: .200s;
      }
    }
  }
}

.slider-section{
  width: 100%;
  height: 100vh;
  position: relative;
}

.section-know{
  margin-top: 6vw;

  .content-know{
    margin-top: 4vw;
  }
}



.slider-section{
  width: 100%;
  overflow: hidden;
  padding-left: 3vw;
  padding-right: 3vw;

  .scroll-X{
    height: 90vh;
    padding-top: 5vw;
  }

  .all-know-cta{
    position: fixed;
    top: 85vh;
    right: 3vw;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    width: 20vw;
    padding: 0;
  }

  .card-slider-section{
    width: 23vw;
    height: 70vh;
    background: blue;
    margin: 0 1vw;
    position: relative;
    overflow: hidden;


    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(#0E153F, .8);
    }
  }

  .content-card{
    position: absolute;
    width: 100%;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    text-align: center;
    color: $color-light-gold;
    padding: 3vw;

    .discover-card{
      text-align: center;
      width: 100%;
      font-size: 0.85vw;

      &:before{
        content: '';
        width: 1px;
        height: 7vw;
        background: $color-light-gold;
        margin: 3vw auto;
        display: block;
      }
    }
  }

  .wording-presentation{
    width: 20%;
    right: 10%;
    top: 12%;
    position: absolute;
  }
  .item-presentation{
    height: 100%;
    width: 100vw;
  }

}


.section-slider-wins{
  width: 100%;
  height: 90vh;
  margin-top: 3vw;
  position: relative;

  .button-nav{
    width: 5vw;
    height: 5vw;
    background: $color-light-beige;
    border-radius: 50%;
    position: absolute;
    bottom: 3vw;
    z-index: 5;
    background-image: url('../img/arrow-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .3s;
    &:hover{
      background-color: #FFF;
    }

    &.prev-slider{
      right: 5vw;
      transform: rotate(-180deg);
    }
    &.next-slider{
      right: 11vw;
    }
  }

  .swiper-slide{
    width: 100%;
    background: green;
    height: 90vh;

    img{
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
    }
  }
}

.section-win-book{
  margin-top: 6vw;
  padding-bottom: 6vw !important;
  .button{
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 3vw;
  }
}


.section-blog{
  margin-bottom: 6vw;
  .title-intro{
    border-top: 1px solid $color-dark-beige;
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
}


.navigation.pagination{
  text-align: right;
  margin-bottom: 6vw;
  .screen-reader-text{
    display: none;
  }
  .nav-links{
    margin-left: auto;

    .page-numbers{
      width: 2.2vw;
      height: 2.2vw;
      border: 1px solid $color-dark-blue;
      display: inline-block;
      font-size: 1vw;
      text-align: center;
      line-height: 2.2vw;
      transition: .3s;

      &.current, &:hover{
        background: $color-dark-blue;
        color: #FFF;
      }

      &.next, &.prev{
        display: none;
      }
    }
  }
}
.article{
  border-top: 1px solid $color-dark-blue;
  margin-bottom: 4vw;
  display: block;

  &:hover{
    color: $color-dark-blue;
  }

  &-label{
    text-transform: uppercase;
    letter-spacing: -0.05em;
    font-weight: 500;
    font-size: 0.9vw;
    margin-top: 2vw;
    margin-bottom: 2vw;

    &:before{
      content: '';
      width: 0.5vw;
      height: 0.5vw;
      display: inline-block;
      margin-right: 1vw;
      background: $color-dark-blue;
      border-radius: 50%;
    }
  }

  &-author{
    letter-spacing: -0.05em;
    font-size: 0.9vw;
    text-decoration: underline;
    display: inline-block;
  }

  &-title{
    min-height: 15vw;
  }
  &-date{
    letter-spacing: -0.05em;
    font-size: 0.9vw;
    display: inline-block;
    text-transform: uppercase;

    &:before{
      content: '';
      width: 0.3vw;
      height: 0.3vw;
      background: $color-dark-blue;
      border-radius: 50%;
      display: inline-block;
      margin-left: .6vw;
      margin-right: .6vw;
    }
  }
}


.strate-teams{
  margin-bottom: 8vw;
  .title-section{
    border-top: 1px solid $color-dark-beige;
    padding-top: 4vw;
  }
}

.push-team{
  margin-top: 4vw;
  .push-team-image{
    width: 100%;
    margin-bottom: 1vw;
  }

  .push-team-name{
    text-transform: none;
  }
  .push-team-sub-name{
    font-style: italic;
  }
  .push-team-post{
    color: $color-dark-gold;
    margin-top: 0.5vw;
    font-size: 1.2vw;
  }
}

.strate-related-pushs.container-gutters{
  padding-bottom: 8vw;
}

.push-related{
  position: relative;

  &:after{
    content: '';
    background: rgba(#000, .6);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .push-related-title{
    position: absolute;
    left: 0;
    width: 100%;
    top: 8vw;
    text-align: center;
    padding: 5vw 0;
    z-index: 5;
    color: $color-light-gold;
  }

  .push-related-image{
    width: 100%;
  }

  .push-related-link{
    position: absolute;
    bottom: 8vw;
    left: 50%;
    transform: translateX(-50%);
    color: $color-light-gold;
    border-color: $color-light-gold;
    z-index: 4;

    &:hover{
      background-color: $color-light-gold;
      color: #FFF;
    }
  }
}

.container-expertises{
  margin-top: 6vw;
  margin-bottom: 8vw;
  .image-expertise{
    width: 100%;
  }

  .container-image-expertise{
    position: relative;

    &:after{
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(#0E153F, .8);
      left: 0;
      position: absolute;
      top: 0;
    }
  }
  .container-expertise-item{
    margin-top: 6vw;

    .content-expertise{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 8vw;

      .title-h2{
        margin-bottom: 2vw;
      }
      p{
        max-width: 60%;
      }

      .button{
        margin-top: 1vw;
      }
    }
  }
}


.hero-single-competence.container-gutters{
  padding-top: 10vw;
  padding-bottom: 6vw;
}

.strate-image-full{
  margin-bottom: 5vw;
  img{
    width: 100%;
  }
}

.strate-titre-center{
  margin-bottom: 5vw;
}

.strate-image-text{
  margin-bottom: 5vw;
  .container-image{
    padding: 0 7vw;
    img{
      width: 100%;
    }
  }

  .container-text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.strate-text-left{
  margin-bottom: 5vw;

  ul{
    li{
      font-size: 1.1vw;
      position: relative;
      padding-left: 0.9vw;
      color: $color-dark-blue;
      &:before{
        content: '';
        width: .3vw;
        height: .3vw;
        display: inline-block;
        background-color: $color-dark-blue;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0.6vw;
      }
    }
  }
}

.container-items-competences{
  margin: 0 4vw;
  border-top: 1px solid $color-dark-beige;
}
.strate-slider-competences{
  .introduction-section{
    position: fixed;
    top: 3.8vh;
    left: 4vw;
  }
}

.section-pushs-honoraires{
  margin-bottom: 5vw;
}
.push-honoraire{
  position: relative;

  img{
    width: 100%;
  }
  .title-h2{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: $color-light-gold;
  }

  .push-honoraire-price{
    position: absolute;
    bottom: 4vw;
    width: 100%;
    text-align: center;
    color: #FFF;
  }
}


.popin-members{
  top: 0;
  bottom: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 500;
  overflow: auto;
  background: rgba($color-dark-blue, .8);

  .content-popin{
    width: 50%;
    background: $color-light-beige;
    right: 0;
    position: absolute;
    padding: 3vw;
    height: 100vh;
    overflow: auto;

    .image-user{
      margin-bottom: 2vw;
    }

    h2{
      font-size: 3vw;
    }

    .post{
      display: inline-block;
      color: $color-dark-gold;
      font-size: 1vw;
    }
    p{
      font-size: 1vw;
    }

    .button{
      padding: 1.2vw 4vw 1vw;

    }
    .social{
      display: inline-block;
      margin-left: 1vw;
      margin-bottom: 1vw;
      li{
        display: inline-block;
        margin: 0 .4vw;

        img{
          width: 1vw;
        }
      }
    }
  }
}


.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color-dark-blue;
  z-index: 800;

  .img-loader{
    width: 15%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.name-in-mobile{
  display: none;
}

.visible-xs{
  display: none;
}

.section-mentions{
  padding-bottom: 6vw !important;
}

.name-filter{
  font-size: .8vw;
  text-transform: uppercase;
  padding-top: 3vw;
  padding-bottom: 3vw;
}
.terms-filter{
  li{
    display: inline-block;
    padding-left: 1vw;

    &.active{
      a{
        color: $color-dark-blue;
        &:before{
          background-color: $color-dark-blue;
        }
      }
    }
    a{
      font-size: .8vw;
      text-transform: uppercase;
      padding-top: 3vw;
      display: block;
      padding-bottom: 3vw;
      position: relative;

      &:hover, &.active{
        color: $color-dark-blue;
        &:before{
          background-color: $color-dark-blue;
        }
      }

      &:before{
        content: '';
        width: .6vw;
        margin-right: .5vw;
        height: .6vw;
        display: inline-block;
        border-radius: 50%;
        transition: .3s;
        border: 1px solid $color-dark-blue;
      }
    }
  }
}

.container-sup-info-blog{
  border-bottom: 1px solid $color-dark-beige;
  padding-bottom: 2vw;
  padding-top: 2vw;

  &.bottom{
    border-top: 1px solid $color-dark-beige;
    padding-top: 1.5vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
}

.title-related{
  margin-bottom: 4vw;
}

.container-article-blog{
  margin-bottom: 6vw;
  h2, h3, h4{
    margin-bottom: 1vw;
    margin-top: 2vw;
  }

  .wp-block-button__link{
    display: inline-block;
    border: 1px solid #0E153F;
    color: #0E153F;
    padding: 1.5vw 4vw 1.5vw;
    text-transform: uppercase;
    font-family: "Inter";
    letter-spacing: -0.05em;
    font-weight: 500;
    font-size: 0.9vw;
    transition: 0.3s;
    background-color: transparent;
    border-radius: 0;

    &:hover{
      background-color: $color-dark-blue;
    }
  }

  ul{
    li{
      font-size: 1.1vw;
      position: relative;
      padding-left: 0.9vw;
      color: $color-dark-blue;
      margin-bottom: 1vw;
      &:before{
        content: '';
        width: .3vw;
        height: .3vw;
        display: inline-block;
        background-color: $color-dark-blue;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0.6vw;
      }
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 825px) {

  .visible-xs{
    display: block;
  }
  .hero .content-hero{

    width: 100%;
    left: 0;
  }

  .presentation-section .markee{
    display: none;
  }
  .hero .content-hero{
    //top: 50%;
    //bottom: auto;
    //transform: translateY(-50%);
    bottom: 10vw;
  }

  .hero{
    height: 80vh;
    .title-h1{
      div{
        font-size: 3.2vw !important;
        line-height: 3.5vw;
        margin-top: 30px;
      }
    }
  }

  .hero .content-hero .scroll-bottom{
    &:before{
      height: 20vw;
      margin-top: 15vw;
    }
  }

  .section-presentation{
    margin-top: 12vw;
  }

  .section-presentation .section-presentation-image-1{
    width: 100%;
    margin-top: 6vw;
  }

  .section-presentation .section-presentation-image-2{
    display: none;
  }

  .section-presentation .info-container{
    padding: 5vw 0 16vw;
  }
  .section-presentation .info-container .button{
    margin-top: 8vw;
  }
  .name-in-mobile{
    position: absolute;
    top: 30%;
    display: block;
    z-index: 30;

    width: 100%;
    text-align: center;
    color: #E9E0CF;
    font-size: 10.4vw !important;
    line-height: 15.4vw !important;
  }

  section .scroll-X{
    width: 100%;
  }

  .section-citation.with-image .image-bg{
    left: 50%;
    top: 50%;
  }

  .slider-section .card-slider-section{
    height: 50vh;
  }

  .slider-section{
    display: block;
    height: auto;
    margin-bottom: 15vw;
    .scroll-X{
      height: auto !important;
    }
  }

  .slider-section .content-card .discover-card{
    font-size: 3.2vw;
    line-height: 3.5vw;

    &:before{
      height: 20vw;
      margin: 11vw auto;
    }
  }

  .section-slider-wins{
    height: 50vh;
    .swiper-slide{
      height: 50vh;
    }
  }

  .section-win-book{
    .title-h3{
      margin-bottom: 5vw;
    }

    .button{
      margin-top: 6vw;
      margin-bottom: 6vw;
    }
  }

  .slider-section .all-know-cta{
    display: none;
  }

  footer .container-footer-principal, .sub-footer .container-footer-principal{
    padding-top: 10vw;

    .button{
      margin-bottom: 6vw;
      width: 100%;
      text-align: center;
    }
    .text-right{
      text-align: left;
    }
  }

  .loader .img-loader{
    width: 40%;
  }

  .section-know{
    margin-top: 16vw;
  }

  .section-win-book{
    margin-top: 12vw;
    margin-bottom: 12vw;
  }

  .presentation-section{
    margin-top: 12vw;
  }

  .presentation-section .item-presentation .image-1{
    width: 25%;
    left: 0;
    margin-left: 5vw;
    height: auto;
    position: relative;
    top: 0;
    margin-top: 5%;

    img{
      width: 100%;
    }
  }

  .presentation-section .item-presentation .image-2{
    width: 50%;
    height: auto;
    position: relative;
    top: 0;
    margin-top: 5%;

    img{
      width: 100%;
    }
  }

  .presentation-section .item-presentation .image-3{
    width: 25%;
    height: auto;
    position: relative;
    bottom: 0;
    right: auto;
    margin-right: 5vw;
    margin-top: 5%;
    margin-left: auto;
    img{
      width: 100%;
    }
  }

  .section-presentation.about .info-container{
    padding-left: 0;
  }

  .section-presentation.about .section-presentation-image-1{
    width: 100%;
  }
  .section-presentation.about .section-presentation-image-2{
    display: none;
  }

  .push-team .push-team-post{
    font-size: 4.2vw;
    line-height: 5.5vw;
  }
  .strate-teams .title-section{
    padding-top: 12vw;
  }
  .push-team{
    margin-bottom: 4vw;
  }
  .push-team .push-team-name{
    margin-top: 4vw;
  }

  .push-related, .push-honoraire{
    margin-bottom: 6vw;
  }

  .strate-image-text .container-image{
    padding: 7vw 0;
  }

  .container-expertises .container-expertise-item .content-expertise{
    padding: 5vw 0;
  }
  .container-expertises .container-expertise-item .content-expertise p{
    max-width: 100%;
  }

  .container-expertises .container-expertise-item .content-expertise .button{
    width: 100%;
    text-align: center;
  }

  section{
    height: auto;
  }
  section .scroll-X{
    height: auto;
  }

  .name-filter{
    font-size: 10px;
    margin-top: 30px;
  }

  .terms-filter{
    text-align: left;
    margin-bottom: 30px;

    li{
      display: block;

      a{
        font-size: 12px;
        padding: 8px 0;

        &:before{
          width: 8px;
          height: 8px;
        }
      }
    }
  }
  .article{
    margin-top: 15px;
    padding-top: 15px;

    .legend{
      font-size: 5vw;
      margin-bottom: 30px;
    }
  }

  .article-label{
    font-size: 10px;

    &:before{
      width: 5px;
      height: 5px;
    }
  }

  .container-sup-info-blog{
    padding-top: 15px;
  }

  .container-sup-info-blog.bottom{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .container-article-blog{
    .button{
      margin-top: 15px;
      width: 100%;
      text-align: center;
    }
  }

  .container-article-blog .wp-block-button__link{
    font-size: 3.2vw;
    line-height: 3.5vw;
    margin-top: 15px;
    padding: 6vw;
  }

  .article-date, .article-author{
    font-size: 12px;
  }

  .navigation.pagination .nav-links{
    width: 100%;
    text-align: center;
  }
  .navigation.pagination{
    margin-bottom: 30px;
    .nav-links{
      margin-top: 30px;
      margin-bottom: 30px;
      .page-numbers{
        width: 30px;
        height: 30px;
        font-size: 14px;
        line-height: 28px;
      }
    }
  }

  .button-contact img{
    width: 20vw !important;
  }

  .section-slider-wins .button-nav{
    width: 10vw;
    height: 10vw;
  }

  .section-slider-wins .button-nav.next-slider{
    right: 18vw;
  }

  footer .copyright, .sub-footer .copyright {
    font-size: 3vw !important;
    text-align: center;
  }

  footer .social-links li img, .sub-footer .social-links li img {
    width: 4.3vw !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  footer .link-mentions, .sub-footer .link-mentions{
    font-size: 3vw !important;
    text-align: center;
    padding-bottom: 30px;
  }

  footer .wins-footer, .sub-footer .wins-footer{
    width: 100% !important;
  }
  footer .container-footer-principal, .sub-footer .container-footer-principal{
    padding-top: 10vw !important;
  }
}