header{
  padding: 2vw 3vw;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 100;
  top: 0;

  .logo{
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  ul{
    padding-top: 1vw;
    padding-right: 5vw;
    li{
      display: inline-block;
      margin-right: 1.8vw;

      &.last{
        margin-right: 0;
      }

      &.low-space{
        margin-right: .5vw;
      }
      &.lang{
        opacity: .6;

        &.active{
          opacity: 1;
        }
      }
      a{
        text-transform: uppercase;
        font-size: .9vw;
        color: $color-dark-beige;

        &:hover{
          color: $color-dark-beige;
        }
      }

      .button{
        color: $color-dark-beige;
        border-color: $color-dark-beige;
        padding: .8vw 1.8vw;
        font-size: .9vw;
        font-weight: 400;
      }
    }
  }
}

.button-menu{
  background: transparent;
  border: 0;
  color: $color-dark-beige;
  font-size: .9vw;
  text-transform: uppercase;
  padding-right: 2.3vw;
  position: absolute;
  z-index: 1000;
  right: 4vw;
  top: 3.8vw;

  &:before,
  &:after{
    content: '';
    width: 1.2vw;
    height: 1px;
    background: $color-dark-beige;
    position: absolute;
    right: 0;
  }

  &:before{
    top: calc(50% - 0.2vw);
  }
  &:after{
    top: calc(50% + 0.2vw);
  }
}


.menu-fixed{
  background: $color-light-beige;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 800;
  height: 100vh;
  display: none;

  .decoration{
    position: absolute;
    height: 80vh;
    top: 10vh;
    left: 20vw;
  }

  .logo{
    position: fixed;
    top: 2vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .container-menu-sub{
    position: absolute;
    bottom: 6vw;
    left: 4vw;
    width: 66%;

    li{
      width: 45%;
      margin-bottom: 2.5vw;
      display: inline-block;
    }
  }

  .sub-section{
    width: 26%;
    position: absolute;
    bottom: 10vw;
    right: 4vw;
    text-align: right;
    img{
      width: 50%;
    }
  }
}

.nav-open{
  .menu-fixed{
    display: block;
  }

  .button-menu{
    color: $color-dark-blue;

    &:before, &:after{
      background-color: $color-dark-blue;
    }
  }
}

.popin-contact{
  position: absolute;
  display: none;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 5;

  .close-popin{
    transition: .4s;
    cursor: pointer;
    &:hover{
      transform: rotate(90deg);
    }
  }
  .popin-contact-image{
    width: 50%;
    position: absolute;
    height: 100%;
    overflow: hidden;


    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  .container-form{
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
    background: $color-light-beige;
    padding: 3vw;

    .title-h2{
      margin-bottom: 2vw;
    }

    .form-contact{
      label{
        width: 100%;
        position: relative;
        padding-top: 1.5vw;
        
        &.selected{
          .text-label{
            top: .5vw;
            color: $color-light-gold;
            font-size: .8vw;
          }
        }
      }
      input, select{
        width: 100%;
        background: transparent;
        border: 0;
        border-bottom: 1px solid $color-grey;
        padding-bottom: .8vw;
        margin-bottom: .4vw;
        font-size: 1vw;
      }
      textarea{
        width: 100%;
        background: transparent;
        border: 0;
        resize: none;
        border-bottom: 1px solid $color-grey;
        font-size: 1vw;
      }
      textarea{
        width: 100%;
        height: 5vw;
      }

      .text-label{
        position: absolute;
        top: 1.8vw;
        font-size: 1.1vw;
        transition: .3s;
      }

      button{
        background: transparent;
        margin-top: 2vw;
      }
    }
  }
}

.popin-member{
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;

  .container-popin{
    width: 50%;
    right: 0;
    position: absolute;
    padding: 3vw;
    background: $color-light-beige;
  }
}