html {
    @media #{$breakpoint-md-up} {
        font-size: 1vw;
    }
}

body {
    font-family: 'Inter';
    font-size: 1.4rem;
    color: $color-dark-blue;
    background: #fef7e9;
}

a {
    color: var(--color-black);
}

.container-content{
    padding: 0 5vw;
}

.container-gutters{
    padding: 0 3vw;
}

.title-h1,h1,
.title-h2,h2,
.title-h3,h3,
.title-h4,h4,{
    text-transform: uppercase;
    font-family: "GT Super Display";
}

.title-h1, h1{
    font-size: 4vw;
    line-height: 4vw;

    &.small{
        font-size:  2.7vw;
        line-height: 2.7vw;
    }

    &.big{
        font-size: 7.5vw;
        line-height: 7.5vw;
    }
}

.title-h2, h2{
    font-size: 3.4vw;
    line-height: 3.4vw;

    &.small{
        font-size: 2.2vw;
        line-height: 2.2vw;
    }
}

.title-h3, h3{
    font-size: 2.4vw;
    line-height: 2.4vw;

    &.small{
        font-size: 1.2vw;
        line-height: 2.2vw;
        font-weight: 900;
    }
}

.title-h4, h4{
    font-size: 2.4vw;
    line-height: 3.4vw;
    text-transform: none;
    letter-spacing: -.05em;

    &.small{
        font-size: 1.5vw;
        line-height: 1.9vw;
    }
}

.italic{
    font-style: italic;
}

.legend{
    font-size: 1.7vw;
}

p{
    font-size: 1.1vw;
}

.button{
    display: inline-block;
    border: 1px solid $color-dark-blue;
    color: $color-dark-blue;
    padding: 1.5vw 4vw 1.5vw;
    text-transform: uppercase;
    font-family: 'Inter';
    letter-spacing: -.05em;
    font-weight: 500;
    font-size: .9vw;
    transition: .3s;

    &:hover{
        background: $color-dark-blue;
        color: #FFF;
    }
}

.introduction-section{
    text-transform: uppercase;
    font-size: .9vw;
    margin-bottom: 3vw;
    color: $color-dark-gold;
    vertical-align: top;


    &:before{
        content: '';
        width: .4vw;
        height: .4vw;
        border-radius: 50%;
        background: $color-dark-gold;
        display: inline-block;
        position: relative;
        top: -0.1vw;
        margin-right: 1vw;
    }
}

.text-right{
    text-align: right;
}
